.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nikis-flicks {
    font-size: 35px;
    color:lightseagreen;
    border: 3px solid lightseagreen;
    padding: 30px;
    background-color: rgba(32, 178, 171, 0.39);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sign-up {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sign-in {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 178, 171, 0.39);
    border: 3px solid lightseagreen;
    margin: 10px;
    width: 500px;
}

button {
    width: 100px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

input {
    margin: 5px;
}

label {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.links {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

ul {
    list-style: none;
}

.list-page {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(32, 178, 171, 0.39);
    border: 3px solid lightseagreen;
}

.update-page {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(32, 178, 171, 0.39);
    border: 3px solid lightseagreen;
}

.create-page {
    background-color: rgba(32, 178, 171, 0.39);
    border: 3px solid lightseagreen;
}